<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>

        <main class="container">
            <h1><%= list.name %></h1>
            <a href="/lists/<%= list.id %>/edit" class="btn btn-warning"
                >Edit List</a
            >
            <form
                style="display:initial"
                action="/lists/<%= list.id %>/destroy"
                method="post"
            >
                <button type="submit" class="btn btn-danger">
                    Delete List
                </button>
            </form>
            <br /><br />
            <small>Scroll down for list</small>
            <hr />

            <h2>Add New Item</h2>
            <form
                id="itemForm"
                action="/lists/<%= list.id %>/items/create"
                method="post"
            >
                <div class="form-group">
                    <label>Enter Item Description</label>
                    <input
                        type="text"
                        class="form-control"
                        name="description"
                        aria-describedby="descriptionHelp"
                        placeholder="Enter Item Description"
                        id="item"
                    />
                </div>
                <div class="form-group">
                    <label>Quantity</label>
                    <input
                        type="text"
                        class="form-control"
                        name="quantity"
                        aria-describedby="quantityHelp"
                        placeholder="Enter Quantity"
                        id="quantity"
                    />
                </div>
                <input type="submit" class="btn btn-primary" value="Add Item" />
            </form>

            <br />
            <hr />
            <br />
            <h2>Items</h2>
            <small
                >Please use 'Mark As Purchased' while still shopping, and
                'Delete' to clear from the list permanently.</small
            >
            <div id="updatePlaceholder"></div>
            <ul class="list-group" id="items">
                <% list.items.forEach((item) => { %>
                <li class="list-group-item">
                    <!-- <a href="/lists/<%= list.id %>/items/<%= item.id %>">
                        <%= item.description %>
                    </a> -->
                    <% if(item.purchased == true){ %>
                    <p><strong>ITEM ALREADY PURCHASED</strong></p>
                    <% } %>
                    <p>
                        <strong>Item: </strong><%= item.description %>,
                        <strong>Quantity: </strong><%= item.quantity %>
                    </p>

                    <% if(item.purchased == false){ %>
                    <form
                        action="/lists/<%= item.listId %>/items/<%= item.id %>/purchased"
                        method="post"
                        style="display: inline"
                        name="purchased"
                        value="true"
                        id="checkForm"
                    >
                        <button
                            type="submit"
                            value="true"
                            name="purchased"
                            class="btn btn-success"
                        >
                            Mark As Purchased
                        </button>
                    </form>
                    <% } else{ %>
                    <form
                        action="/lists/<%= item.listId %>/items/<%= item.id %>/purchased"
                        method="post"
                        style="display: inline"
                        name="purchased"
                        value="true"
                        id="checkForm"
                    >
                        <button
                            type="submit"
                            value="false"
                            name="purchased"
                            class="btn btn-warning"
                        >
                            Unmark As Purchased
                        </button>
                    </form>
                    <% } %>

                    <form
                        style="display:initial"
                        action="/lists/<%= item.listId %>/items/<%= item.id %>/destroy"
                        method="post"
                        id="deleteForm"
                    >
                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>
                    </form>
                </li>
                <% }) %>
            </ul>
            <br /><br />
        </main>

        <% include ../static/partials/baseScripts.ejs %>

        <script>
            $(function() {
                var socket = io();
                var $itemForm = $("#itemForm");
                var $item = $("#item");
                var $quantity = $("#quantity");
                var $items = $("#items");
                var $deleteForm = $("#deleteForm");
                var $updatePlaceholder = $("#updatePlaceholder");
                var $checkForm = $("#checkForm");

                $itemForm.submit(function(e) {
                    socket.emit("add item", $item.val());
                });

                //data.item

                socket.on("new item", function(data) {
                    let appendedItem =
                        '<li class="list-group-item">' +
                        data.item +
                        " - please refresh for details</li>";
                    $items.append(appendedItem);
                });

                $deleteForm.submit(function() {
                    socket.emit("delete item");
                });

                socket.on("deleted item", function(data) {
                    $updatePlaceholder.append(data.msg);
                });

                // mark as purchased
                $checkForm.submit(function() {
                    socket.emit("purchased item");
                });

                socket.on("marked item", function(data) {
                    $updatePlaceholder.append(data.msg);
                });
            });
        </script>
    </body>
</html>
